<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.alfraza.app">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:name=".ThisApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <receiver
            android:name=".services.ReceiverBoot"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <service android:name=".services.PushService" />
        <service android:name=".services.GpsService" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_id" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity> <!-- List Of Activity Class -->
        <activity
            android:name=".ActivitySplash"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ActivityStore"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ActivityInstruction"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ActivityNewsInfo"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ActivityNewsInfoDetails"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ActivityCategoryDetails"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ActivityProductDetails"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ActivityFullScreenImage"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ActivitySearch"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ActivityWishlist"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ActivityShoppingCart"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ActivityCheckout"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ActivityOrderHistory"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.users.ActivityLogin"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ActivitySignIn"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.users.ActivityRegister"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ActivityContact"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".ActivityMaps"
            android:label="@string/app_name" />
        <activity
            android:name=".ActivityRecycler"
            android:label="@string/app_name" />
        <activity
            android:name=".ActivityView"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ActivityForm"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".activities.misc.ActivityMessages"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".activities.misc.ActivityNotifications"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.users.ActivityProfile"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ActivityBackend"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ActivityLocation"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ActivityWorker"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".ActivityDelivery"
            android:theme="@style/AppTheme.NoActionBar" />

        <service
            android:name=".helpers.fcm.FcmMessagingService"
            android:exported="false"
            android:stopWithTask="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
    </application>

</manifest>